doctype html
html

<head>
		<meta charset="utf-8">
		<title>#{title}</title>
		<link rel="stylesheet" href="/stylesheets/styles.css">
		<script type="text/javascript" src="/javascripts/jquery-3.6.0.min.js"></script>
</head>
		<body>
			<div class="wrapper">
				<header>
					<a href="/"><img src="/images/logo.png" alt="Whitesquare logo"></a>
					<form name="search" class="sinput" action="#" method="get">
						<input type="search" name="q" placeholder="Search"><button type="submit">GO</button>
					</form>
					<div class="heading">
						<h1 id="headname">#{page_name}</h1>
					</div>
				</header>
				<nav>
					<ul class="top-menu">
						each item in navmenu ? navmenu : []
							<li><a href="#{item.addr}">#{item.name}</a></li>
					</ul>
				</nav>
				<main id="#{page_name}">
					block content
				</main>
			</div>
			<footer>
				<div class="footer">
					<div id="social">
						<h3>SOCIAL NETWORKS</h3>
						<a href="http://twitter.com/" class="social-icon twitter"></a>
						<a href="http://google.com/" class="social-icon google"></a>
					</div>
					<div id="footer-logo">
						<a href="/"><img src="/images/footer-logo.png" alt="Whitesquare logo"></a>
					</div>
				</div>
			</footer>
<script type="text/javascript" src="/javascripts/topmenu.js"></script>
<script type="text/javascript" src="/javascripts/jqfunc.js"></script>
		</body>
